body {
    margin: 0;
    font-family: "Belgrano", serif;
    background-color: #FFFDF1;
    color: #2D2422;
}

.navigation { /* style bar */
    background-color: #777653;
    display: flex;
    justify-content: flex-end;
    margin: 0%;
}

.navigation a { /*styling links */
    font-size: 25px;
    margin: 10px 16px;
    color: #2D2422;
    text-decoration: none;
    
}

p {
    font-size: 20px;
}

h1 {
    font-size: 70px;
    font-family: "Bigshot One", serif;
}

.header {
    display: flex;
    padding: 100px 20px;
    justify-content: space-evenly;
    background-color: #BEB886;
}

.header .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profileImage {
    width: 30%;
    height: 30%;
    border-radius: 5%;
    border: 10px solid #777653;
    min-width: 400px;
    min-height: 400px;
}

